<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Template ville</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/monstyle.css" />
</head>

<body>
    <nav>
        <a href="../index.html">Accueil</a>
	    <h1>Gestion des villes</h1>
        <p>TP spring-boot MVC with Mustache --> <span>MATTON Hugo FIE3</span></p>
    </nav>
    <hr>
    <main>
        <section class="formulaire">
            <h2>{{^villeModif}}Ajouter {{/villeModif}}{{#villeModif}}Modifier {{/villeModif}}une ville</h2>
           
            <form 
                {{#villeModif}}method="GET"{{/villeModif}}
                {{#villeModif}}action="update"{{/villeModif}}
                 {{^villeModif}}method="POST"{{/villeModif}}
                {{^villeModif}}action="save"{{/villeModif}}
            >
                <label for="name">Nom : </label><input type="text" name="name" id="name" {{#villeModif}} value={{villeModif.name}} {{/villeModif}}/>
                <label for="population">Population : </label><input type="number" name="population" id="population" {{#villeModif}} value={{villeModif.population}} {{/villeModif}}/>
                <label for="pays">Pays :</label>
                <select id="pays" name="pays">
                    {{#lesPays}}
                        <option type="number" value="{{id}}">{{name}}</option>
                    {{/lesPays}}
                </select>
                <input type="hidden" {{#villeModif}}value={{id}} {{/villeModif}} name="id"/>
                <input type="submit">
            </form>
        </section>
        <section class="affichage">
            <h2>Liste des villes</h2>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Population</th>
                    <th>Pays</th>
                    <th>Action</th>
                </tr>
                {{#lesVilles}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{population}}</td>
                        <td>{{country.name}}</td>
                        <td>
                            <a href='delete?id={{id}}'>Supprimer</a>
                            <a href='edit?id={{id}}'>Modifier</a>
                        </td>
                    </tr>
                {{/lesVilles}}
            </table>
        </section>
    </main>
</body>

</html>